Variables: Fundamental elements of programming used to store data that can be referenced and manipulated in a program. 
- They are created when you assign a value to them and they don't need explict declaration to reserve memory space

In [1]:
a=100

In [3]:
# Definition and Assignment
age = 24
height = 6.1 
name = "Jayasuryan"
is_student = True

# printing 
print("age:",age)
print("Height:",height)
print("Name:",name)

age: 24
Height: 6.1
Name: Jayasuryan

In [4]:
# Naming conventions 
# Variable name should be descriptive 
# They must always start with a letter or underscore _ and can contain letters,numbers,underscores 
# Variables names are case sensitive
# Valid variable names 

first_name = "Jayasuryan"
last_name = "Mutyala"

In [ ]:
# Invalid variable names
# 2age = 30
# first-name == "xy"

SyntaxError: invalid decimal literal (395682129.py, line 2)

In [6]:
# Type checking and conversion 
type(height)

float

In [7]:
# typecasting 
age = 13
print(type(age))

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
13
<class 'str'>

In [8]:
age = '25'
print(type(int(age)))

<class 'int'>

In [9]:
height = 5.11 
type(height)

float

In [12]:
height = int(height)
print(height)
type(height)

5

int

In [13]:
float(height)

5.0

In [15]:
# Dynamic typing 
# Python allows the data type of the variable as program executes 
var = 10 
print(var,type(var))

var = "Hello"
print(var,type(var))

var = 3.14 
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [19]:
# input 
age = int(input("what is age"))
print(age)

23

In [18]:
type(age)

str

In [21]:
# Simple calc 
num1 = float(input("Enter the first number:"))
num2 = float(input("Enter the second number:"))
sum = num1 + num2 
sub = num1 - num2 
product = num1*num2 
division = num1/num2 

print("sum:",sum)
print("difference:",sum)
print("product:",product)
print("division:",division)

sum: 15.0
difference: 15.0
product: 50.0
division: 2.0