We have arthimetic, comparision, logical operators

In [7]:
# Arthimetic operation 
a = 10 
b = 5 
add_result = a + b
sub_result = a - b 
mul_result = a*b
div_result = a/b
floor_div = a//b
mod_result = a % b 
exp_result = a**b # exponential opr

print(add_result)
print(sub_result)
print(mul_result)
print(div_result)
print(floor_div)
print(mod_result)
print(exp_result)

15
5
50
2.0
2
0
100000

In [10]:
# Comparision results
# == 
a = 10 
b = 10 
result = (a == b)
print(result)

True

In [12]:
str1 = "surya"
str2 = "surya"
print(str1 == str2)
print(str1 != str2)

True
False

In [13]:
str3 = "Sam"
str4 = "Jackson"
str3 != str4

True

In [14]:
# greater than
num1 = 45
num2 = 55 
num1 > num2

False

In [15]:
# less than 
num1 < num2

True

In [16]:
# greater than or equal to 
num1 = 45 
num2 = 45 
print(num1 >= num2)

True

In [17]:
# less than or equal to 
num1 = 45 
num2 = 45 
num1 <= num2

True

Logical operators

In [18]:
# And,NOT,OR
X = True 
Y = True 
result = X and Y 
print(result)

True

In [19]:
X = False 
Y = False 
result = (X or Y)
result

False

In [20]:
X = True 
not X

False